#userAnswer {
    font-family: 'motiva-sans', sans-serif;
    background-color: transparent;
    border: none;
    color: #7eccaa;
    font-weight: bold;
    font-size: 10vh;
    text-align: center;
    outline: none;
    -moz-appearance: textfield;
    appearance: textfield;
    caret-color: #7eccaa;
    margin-left: 0;
    padding: 0;
}

#userAnswer::-webkit-inner-spin-button,
#userAnswer::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#problem {
    font-weight: bold;
    color: white;
    font-size: 10vh;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;
    /* You can reduce this value to bring them closer */
    /* If the #problem div has padding, you can reduce it as well */
    padding-right: 0;
    /* Adjust as needed */
    font-size: 10vh;
}

.num1-color {
    color: #7eb5cc;
}

#problemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #262626;
    border-radius: 20px;
    padding: 10px;
    position: fixed;
    top: 40%;
    flex-direction: column;
}

body {
    background-color: rgb(66, 137, 160);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    font-family: 'motiva-sans', sans-serif;
    position: relative;
    white-space: nowrap;
    /* Prevents text from wrapping */
    overflow: hidden;
    /* Hides text that overflows */
}

#counter {
    position: fixed;
    top: 10px;
    right: 10px;
    color: rgb(230, 255, 139);
    z-index: 1000;
    font-size: 4vh;
}

h1 {
    margin: 0px;
    margin-bottom: 10px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    /* Correct translation */
    font-family: 'Aquire', sans-serif;
    font-size: 15vw;
    /* Adjust the font size to fit on different screens */
    color: white;
}

html, body {
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    /* Prevents scrolling */
    height: 100%;
    /* Sets a fixed height */
    touch-action: manipulation;

}

#timer {
    position: fixed;
    top: 10px;
    left: 10px;
    color: rgb(230, 255, 139);
    z-index: 1000;
    font-size: 4vh;
}

#resultsPopup {
    background-color: #262626;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    /* This line ensures padding is included in width */
    width: 120vh;
    /* This line ensures the popup takes the full viewport width */
    position: fixed;
    /* This line, combined with the following two, ensures */
    left: -10;
    /* the popup is not constrained by parent element's width and */
    right: 10;
    /* positions it relative to the viewport */
    top: 40%;
    /* Start at 50% from the top */
}

.popup-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* Set the text color to white */
    display: flex;
    font-size: 10vh;
    flex-direction: column;
    font-family: 'motiva-sans', sans-serif;
    font-weight: bold;
}

.score-text {
    color: #7eb5cc;
}

#score .score-number {
    color: #7eccaa;
}

/* Add keyframes for the popup scaling animation */
@keyframes scalePopup {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#resultsPopup.popup {
    animation: scalePopup 1s ease forwards;
}


button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    /* Add cursor style */
    display: inline-block;
    font-family: 'motiva-sans', sans-serif;
    font-weight: bold;
    font-size: 3vh;
}

button:hover {
    background-color: #444;
    /* Slightly darker background on hover */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    /* More subtle glow */
    transition: background-color 0.1s, box-shadow 0.1s;
    /* Smooth transition for the hover effect */
}

#keyboard {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* Adjust this value as needed to create space between the problem container and the keyboard */
    width: 100%;
    /* This will make it responsive */
    justify-content: center;
    /* This will center the keys */
    padding: 0 20px;
    /* This gives some space on the sides */
    white-space: normal;
    position: fixed;
    bottom: 10vh; /* Align the bottom edge */

}


.key {
    background-color: #FFF;
    /* White key background */
    color: #333;
    /* Dark text */
    padding: 15px;
    text-align: center;
    font-size: 2em;
    border-radius: 5px;
    user-select: none;
    /* Prevents text selection */
    -webkit-tap-highlight-color: transparent;
    /* Removes mobile highlight */
    cursor: pointer;
    /* Pointer to indicate clickable */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    /* Soft shadow for depth */
}

.key:active {
    background-color: #eaeaea;
    /* Feedback when key is pressed */
}